<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | strip_html }}</title>
    <link href="atom.xml" rel="alternate" title="David Hamrick" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/foundation.min.css" type="text/css"/>    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.gist-meta').remove();
      });
    </script>
  </head>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">David Hamrick</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/posts.html">All Posts</a></li>
        <li><a href="/atom.xml">RSS</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </section>
  </nav>
  
  <div class="row">
    {{ content }}
  </div>
  <script type="text/javascript">
  	 var _gaq = _gaq || [];
  	 _gaq.push(['_setAccount', 'UA-25025207-1']);
  	 _gaq.push(['_trackPageview']);

  	 (function() {
  	   var ga = document.createElement('script'); ga.type =
  	'text/javascript'; ga.async = true;
  	   ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
  	'http://www') + '.google-analytics.com/ga.js';
  	   var s = document.getElementsByTagName('script')[0];
  	s.parentNode.insertBefore(ga, s);
  	 })();
  </script>
</html>
