---
layout: default
---

<section class="post">
<h3>David Hamrick. <small><a href="/">All Posts</a></small></h3>
<article>

<h1><a href="/">{{ page.title | strip_html | strip_newlines | textilize | strip_html }}</a></h1>

{{ content }}

</article>

<br>
<br>
<h3>About.</h3>
<p>
Hi, I'm <a href="http://www.twitter.com/davidhamrick">David Hamrick</a>. I co-own a small software company called <a href="http://www.hamrick.com/">Hamrick Software</a>. We develop scanning software called VueScan for OS X, Windows, Linux, and iOS.
</p>

</section>
