---
layout: default
---

<section class="post">
<article>

<h1><a href="{{page.url}}">{{ page.title | strip_html | strip_newlines | textilize | strip_html }}</a></h1>
<h4>Posted by <a href="http://www.twitter.com/davidhamrick">David Hamrick</a> on <time>{{page.date | date_to_long_string}}</time></h4>
<br>

{{ content }}

</article>

<br>
<br>
<h3>About.</h3>
<p>
<a rel="no-follow" href="http://www.twitter.com/davidhamrick">David Hamrick</a> is a partner at <a href="http://www.hamrick.com">Hamrick Software</a>, the makers of VueScan, the worlds most popular 3rd party scanner software. 
</p>

</section>
