---
layout: default
---

<section class="post">
<h3>David Hamrick. <small><a href="/">All Posts</a></small></h3>
<article>

<h1><a href="/">{{ page.title | strip_html | strip_newlines | textilize | strip_html }}</a></h1>

{{ content }}

</article>

<br>
<br>
<h3>About.</h3>
<p>
Hi, I'm <a href="http://www.twitter.com/davidhamrick">David Hamrick</a>. I'm an iOS developer at <a href="http://www.mercury.io">Mercury</a>, a Nashville, TN based software company. I am also the author of <a href="http://itunes.apple.com/us/app/vuescan-mobile/id450984682?ls=1&mt=8">VueScan Mobile</a>, an easy to use app that allows you to scan from HP, Canon, and Epson printer/scanners to your iPhone, iPad, and iPod Touch.
</p>
</section>
